@import "tailwindcss";
@plugin "../hero.ts";
@source "../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";
@custom-variant dark (&:is(.dark *));

@theme {
    --font-quicksand: "Quicksand", "sans-serif";
    --color-custom-gray: oklch(37.11% 0 262.57);
}